.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 0.1rem solid #fff;
    justify-self: center;
    gap: 0.2rem;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
}

.socials > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.3s;
}
.socials > a:hover {
    text-decoration: none;
    background-color: #ec1d61;
}