@import '../vendors/font-awesome.min.css';

@import '../base/main.css';
@import '../base/layout.css';

@import '../components/clock.css';
@import '../components/progress-bar.css';
@import '../components/mouse.css';
@import '../components/socials.css';

.footer {
    color: #fffc;
    padding-top: 0;
  }
  .footer p a {
    color: #fff;
    text-decoration: none;
  }
  .footer p a:hover {
    text-decoration: underline;
  }

  .trio {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .trio > p {
    position: relative;
  }
  .trio > p::after {
    content: '';
    display: block;
    width: 0.1rem;
    height: 1em;
    margin-left: 0.7rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: -0.55rem;
    transform: translateY(-50%);
  }
  .trio > p:last-child::after {
    display: none;
  }
  
  @media (max-width: 700px) {
    .trio {
      flex-direction: column;
    }
    .trio > p::after {
      display: none;
    }
  }
  
